const config = {
    options: {
        dir: '.',
        exclude: [
            'node_modules',
            'vendor',
            '.git',
            '.templ.mjs',
            'package.json',
            'package-lock.json',
            'bs-config.js',
        ]
    },
    templs:{
        'staging': {
            app: 1234, // Templ APP ID
            host: 'example.com',
            port: 12345,
            dst: '/home/user_1234/app_1234_staging/wp-content/plugins/templ-mods/',
            sshCmd: '/usr/bin/templ-ccli cache purge', // Purge Templ Cache after deploy
        }
    }
}

export default config